:root {
  --ccs-mde-primary-font-color: #d1d2d5;
  --ccs-mde-winTitle-height: 60px;
  --ccs-mde-winTitle-color: #252526;
  --ccs-mde-splitLine-width: 3px; /* 不要调太大, 正常是 3 就够了 */
  --ccs-mde-fileList-color: #222222;
  --ccs-mde-background-color: #1e1e1e;
  --ccs-mde-img-background-color: #1e1e1eee;
  --ccs-mde-toolbar-color: var(--ccs-mde-background-color);
  --ccs-mde-unimportant-font-color: #999999;
}
body,
div,
ul,
ol,
dl,
dt,
dd,
li,
dl,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    font-style: normal;
    /* font: 15px/20px"\5B8B\4F53";no  */
    font-size: 15px;
    line-height: 1.5
}

ol,
ul,
li {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}

body {
    color: #000000;
    background: #FFF;
    /* text-align: center; */
}

.clear {
    clear: both;
    height: 1px;
    width: 100%;
    overflow: hidden;
    margin-top: -1px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #BA2636;
    text-decoration: underline;
}

/* 背景色 */
.bgc {
    background-color: #f0f2f5;
}

/* 弹性盒分布 */
.elasticBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* text-align: center; */
}

/* 左边距 */
.marginLeft {
    margin-left: 20px
}

/* 右边距 */
.marginRight {
    margin-right: 20px
}

